* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input,
textarea,
button,
select {
    font-family: inherit;
}

img {
    display: block;
}

.btn {
    --height: 58px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    background: #212832;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

.section-label {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
}

.section-label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 2px;
    background: currentColor;
}

.section-heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.66667;
}

.fixed {
    position: sticky;
    left: 0;
    top: -34px;
    z-index: 99;
}

/* Header */
.header {
    padding: 42px 0 8px;
    background: #fff;
}

.header__row {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 46px;
}

.nav__list {
    display: flex;
}

.nav__link {
    padding: 8px 24px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
}

.nav__link:hover {
    color: #212832;
    text-shadow: 1px 0 #212832;
}

.nav__active {
    position: relative;
    color: #212832;
    text-shadow: 1px 0 #212832;
}

.nav__active::after {
    content: '';
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 6px;
    border-radius: 2px;
    height: 1.5px;
    background: #7467c1;
}

.header__action {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header__logn-in {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header__sign-up {
    --height: 52px;

    min-width: 113px;
}

/* Hero */
.hero {
    padding: 68px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    max-width: 540px;
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.166667;
}

.hero__heading-color {
    color: #7264d6;
}

.hero__form {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.input-email {
    width: 100%;
    padding: 0 23px;
    height: inherit;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
    border: none;
    outline: none;
    background: transparent;
}

.btn-email {
    margin-right: 8px;
    border: none;
    outline: none;
    background: #7264d6;
    flex-shrink: 0;
    cursor: pointer;
}

.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71429;
}

.hero__media {
    margin: 0 auto;
}

.hero__img-wrap {
    position: relative;
    width: 296px;
    height: 562px;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__img-deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    width: 174px;
    border-radius: 6px;
    background: #fff;
    font-size: 1.4rem;
    line-height: 1;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposite-title {
    margin-left: 8px;
    color: #31456a;
    font-weight: 600;
}

.deposite-price {
    margin-left: 19px;
    color: #4ab5e3;
}

.hero__img-interest {
    position: absolute;
    top: 127px;
    right: -174px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
    color: #fff;
    line-height: normal;
}

.interest-percent {
    font-size: 4.4rem;
    font-weight: 600;
}

.interest-title {
    margin-top: -11px;
    font-size: 1.6rem;
}

.hero__img-funds {
    position: absolute;
    right: -74px;
    bottom: 61px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding: 20px 14px;
    width: 124px;
    border-radius: 10px;
    line-height: 1;
    color: #fff;
    background: #439f90;
}

.funds-price {
    font-size: 1.4rem;
    font-weight: 600;
}

.funds-title {
    font-size: 0.8rem;
}

/* Work */
.work {
    margin-top: 44px;
    padding: 40px 0;
}

.work__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 230px;
}

.work__media {
    flex: 1;
}

.work__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.work__img-wrap::after {
    content: url(../img/work-02.png);
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: -1;
}

.work__img {
    width: calc(100% - 14px);
}

.work__img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 76px;
    right: 55px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264d6;
}

.work__img-logo::before {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #fff;
}

.work__logo {
    position: relative;
}

.work__img-congratulations {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    position: absolute;
    bottom: 96px;
    right: -107px;
    width: 226px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__check {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
}

.work__check::before {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.work__congratulations {
    font-family: Inter, sans-serif;
    line-height: normal;
}

.work__congratulations-title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__congratulations-desc {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
}

.work__step {
    margin-top: 70px;
}

.work__step-heading {
    margin-top: 30px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45455;
}

.work__step-desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* Payments */
.payments {
    margin-top: 100px;
    padding: 20px 0;
}

.payments__inner {
    display: grid;
    grid-template-columns: 0.82fr 1fr;
    align-items: center;
    column-gap: 130px;
}

.payments__list,
.money__list {
    margin-top: 28px;
}

.payments__item,
.money__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.payments__item::before,
.money__item::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.payments__btn,
.money__btn {
    margin-top: 38px;
}

.payments__img-wrap {
    position: relative;
    max-width: 482px;
}

.payments__img {
    width: 100%;
}

.payments__send {
    position: absolute;
    top: -48px;
    right: -88px;
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding: 23px 13px;
    border-radius: 12px;
    width: 276px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.payments__send-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgba(218, 100, 100, 0.1);
}

.payments__send-content {
    flex-grow: 1;
}

.payments__send-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: normal;
}

.payments__send-detail:first-child span:first-child {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
}

.payments__send-detail:first-child span:last-child {
    color: #212832;
    font-size: 1.6rem;
}

.payments__send-detail:last-child {
    color: #696d76;
    font-size: 1rem;
}

.payments__income {
    position: absolute;
    right: -88px;
    bottom: -55px;
    padding: 15px;
    width: 120px;
    border-radius: 16px;
    line-height: normal;
    color: #fff;
    background: #439f90;
}

.payments__income-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
}

.payments__income-title {
    margin-top: 14px;
    font-size: 1.2rem;
}

.payments__income-price {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Money */
.money {
    margin-top: 110px;
    padding: 30px 0;
}

.money__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 230px;
}

.money__img-wrap {
    position: relative;
}

.money__img-wrap::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: -1;
    display: inline-block;
    background-image: url(../img/money-02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 72%;
}

.money__img {
    margin: 0 auto;
    max-width: calc(100% - 56px);
}

.money__payment-method {
    position: absolute;
    bottom: 57px;
    right: -74px;
    padding: 28px;
    width: 281px;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
}

.money__method-title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.money__method {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.money__method-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.money__method-item:last-child {
    background: #f9ea63;
}

.money__method-decor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
    right: -26px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264d6;
}

/* Testimonial */
.testimonial {
    margin-top: 100px;
    padding: 30px 0;
}

.testimonial__top {
    text-align: center;
}

.testimonial__label {
    justify-content: center;
}

.testimonial__desc {
    margin: 18px auto 0;
    width: 435px;
}

.testimonial__content {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
    /* overflow: hidden; */
}

.testimonial__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: calc(50% - 15px);
}

.testimonial__item-say {
    position: relative;
    padding: 42px 28px;
    border-radius: 10px;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54545;
    filter: drop-shadow(0px 1px #dfe2e8) drop-shadow(0px -1px #dfe2e8) drop-shadow(1px 0px #dfe2e8)
        drop-shadow(-1px 0px #dfe2e8);
    background: #fff;
    transition: filter 0.3s;
}

.testimonial__item:hover .testimonial__item-say {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial__item-say::before {
    content: '';
    position: absolute;
    bottom: -65px;
    left: 50%;
    translate: -50%;
    display: inline-block;
    border-top: 65px solid;
    border-left: 50px solid;
    border-right: 50px solid;
    border-color: #fff transparent;
}

.testimonial__item-avatar {
    margin-top: 100px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
}

.testimonial__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial__item-name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38462;
}

.testimonial__item-job {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    line-height: 1.66667;
}

.testimonial__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.testimonial__dot {
    display: inline-block;
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.testimonial__dot-active,
.testimonial__dot:hover {
    border-color: #7264d6;
    background: #7264d6;
}

.testimonial__dot:hover {
    cursor: pointer;
}

.testimonial__dot-active:hover {
    cursor: default;
}

/* Blog */
.blog {
    margin-top: 100px;
    padding: 30px 0;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__top-left {
    width: 435px;
}

.blog__top-heading {
    margin-top: 6px;
}

.blog__top-desc,
.app__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog__btn {
    min-width: 123px;
}

.blog__content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog__item {
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition-property: border, box-shadow;
    transition-duration: 0.3s;
}

.blog__item:hover {
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog__img-wrap {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    flex-shrink: 0;
    overflow: hidden;
}

.blog__item-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    transition: scale 0.3s;
}

.blog__item:hover .blog__item-img {
    scale: 1.1;
}

.blog__item-time {
    color: #696d76;
    font-size: 1.4rem;
    line-height: 1.71429;
}

.blog__item-heading {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.blog__item-more {
    display: inline-block;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.625;
    transition: color 0.3s;
}

.blog__item:hover .blog__item-more {
    color: #7264d6;
}

/* App */
.app {
    margin-top: 160px;
}

.app__inner {
    --background: #7264d6;

    position: relative;
    padding: 100px 0;
    border-radius: 24px;
    background: var(--background);
}

.app__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__label,
.app__heading,
.app__desc {
    color: #fff;
}

.app__desc {
    text-align: center;
    width: 435px;
}

.app__method {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
}

.app__down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 64px;
    border-radius: 6px;
    color: var(--background);
    background: #fff;
}

.app__down:hover {
    opacity: 0.9;
    cursor: pointer;
}

.app__decor {
    position: absolute;
}

.app__decor:nth-of-type(1) {
    top: 49px;
    left: 112px;
    animation: spin1 2s infinite linear;
}
.app__decor:nth-of-type(2) {
    top: 49px;
    right: 112px;
    animation: spin2 2s infinite linear;
}
.app__decor:nth-of-type(3) {
    bottom: 49px;
    left: 166px;
    animation: spin3 2s infinite linear;
}
.app__decor:nth-of-type(4) {
    bottom: 49px;
    right: 166px;
    animation: spin4 2s infinite linear;
}

@keyframes spin1 {
    0% {
        left: 112px;
        rotate: 0;
    }

    50% {
        left: 50px;
        rotate: -90deg;
    }

    100% {
        left: 112px;
        rotate: 0;
    }
}

@keyframes spin2 {
    0% {
        right: 112px;
        rotate: 0;
    }

    50% {
        right: 50px;
        rotate: 90deg;
    }

    100% {
        right: 112px;
        rotate: 0;
    }
}

@keyframes spin3 {
    100% {
        rotate: 90deg;
    }
}

@keyframes spin4 {
    100% {
        rotate: -90deg;
    }
}

/* Footer */
.footer {
    margin-top: 100px;
    padding-top: 100px;
    background: #fafbff;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    column-gap: 163px;
}

.footer__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.footer__list {
    margin-top: 24px;
}

.footer__item {
    margin-top: 8px;
}

.footer__link,
.footer__address {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.66667;
    opacity: 0.75;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__form {
    margin-top: 48px;
}

.form__group {
    margin-top: 24px;
    display: flex;
    column-gap: 20px;
}

.footer__input-email {
    flex-grow: 1;
    padding: 12px;
    max-width: 270px;
    color: #8e919a;
    font-size: 1.6rem;
    line-height: 1.75;
    border-radius: 6px;
    border: 1px solid #8e919a;
    outline: none;
}

.footer__btn {
    --height: 52px;

    min-width: 113px;
    border: none;
    outline: none;
    border-radius: 6px;
    background: #7264d6;
    cursor: pointer;
}

.footer__contact {
    margin-top: 54px;
    display: flex;
    align-items: center;
    column-gap: 100px;
}

.footer__contact a {
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.66667;
    text-decoration: underline;
}

.copyright {
    margin-top: 28px;
    padding: 28px 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    background: #7264d6;
}
